body{
    min-width: 320px;
    text-align: center;
}

img{
    padding: 0;
}

h3{
    margin: 0.2em 0;
}

.container{
    max-width: 1280px;
    margin: auto;
}

.smartphoneListBox{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.smartphoneBox{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0.5em;
    transition: all 0.2s;
}

.smartphoneBox:hover{
    cursor: pointer;
    padding: 2.5%;
}

.smartphoneImage{
    width: 100%;
}

.iconSpecBox{
    width: 100%;
    display: flex;
    align-items: center;
}

.iconSpecBox div {
    min-width: 10em;
    display: flex;
    margin: auto;
    justify-content: space-evenly;
}

.iconSpecBox svg{
    margin-left: 1em;
    align-self: center;
}

.iconSpecBox h3{
    width: 100%;
}

@media (max-width: 960px) {
    .container{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 380px) {
    .container{
        grid-template-columns: 1fr;
    }
}